{% load static %}
<footer>
  <div class="clear"></div>
  <div>
    <table class="foot_tbl">
      <tbody>
        <tr class="foot_tr">
          <td class="foot_td3"><p><span>#</span>КОНТАКТЫ:</p></td>
          <td class="foot_td1">Золотов Ю.Н. тел. 181</td>
          <td class="foot_td1k"><a href="tel:+74991280643;181"> <img id="footer-logo" src="{% static 'img/Telephone3d3f40.png' %}" alt="" width="28px"></a></td>
          <td class="foot_td1">Григорьев А.Н.тел. 188</td>
          <td class="foot_td1k"><a href="tel:+74991280643;181"> <img id="footer-logo1" src="{% static 'img/Telephone3d3f40.png' %}" alt="" width="28px"></a></td>
          <td class="foot_td2">&nbsp;&nbsp;support@inion.ru</td>
          <td class="foot_td1k"><a href="mailto:support@inion.ru"> <img id="footer-logo2" src="{% static 'img/logo_email50_50.png' %}" alt="" width="28px"></a></td>
          <td class="foot_td4"><p><span>#</span>ЧАСЫ РАБОТЫ:</p></td>
          <td class="foot_td5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; понедельник-пятница &nbsp;&nbsp; с 10:00 до 18:00</td>
          <td class="foot_td6">&nbsp; 	<em>β&nbsp;-&nbsp;версия</em>  &nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div> 
</footer>